<strong>Olá, {{ courier }}</strong>
<p>Uma de suas entregas foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ street }}, {{ number }}, {{ complement }},
  {{ city }}-{{ state }}, {{ zip_code}}
</p>
